input.form:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]):not([type=file]) {
    @apply block w-full px-2 mb-2 leading-tight rounded-sm;
    background-color: config('colors.white');
    color: inherit;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border: 1px solid config('colors.grey');
    -webkit-appearance: none;
    transition: all 200ms ease;
    &:focus {
        @apply outline-none shadow-outline;
        border-color: config('colors.blue');
    }
    &:disabled {
        @apply pointer-events-none opacity-50;
        background-color: config('colors.grey-lighter');
    }
    &.error {
        border-color: config('colors.red');
        &:focus {
            box-shadow: 0 0 0 3px rgba(227, 52, 47, 0.5);
        }
    }
}
