select.form:not([multiple]) {
    @apply relative block w-full px-2 pr-5 mb-2 leading-tight rounded-sm;
    background-color: config('colors.white');
    color: inherit;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border: 1px solid config('colors.grey');
    // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDEnIGhlaWdodD0nMjYnIHZpZXdCb3g9JzAgMCA0MSAyNicgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBmaWxsPScjNjA2MDYwJyBkPSdNMCA1LjM4MmwxOS45ODMgMTkuOTgzTDQwLjE0IDUuMjA4IDM0LjkzMiAwIDE5Ljg2OSAxNS4wNjIgNC44NC4wMzJ6JyBmaWxsLXJ1bGU9J2V2ZW5vZGQnLz48L3N2Zz4=);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='26' viewBox='0 0 41 26'%3E%3Cpath fill='%23606060' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd' style='&%2310; fill: %23b8c2cc;&%2310;'/%3E%3C/svg%3E");
    background-position: right .4rem center;
    background-repeat: no-repeat;
    background-size: .75rem;
    -webkit-appearance: none;
    transition: all 200ms ease;
    &:focus {
        @apply outline-none shadow-outline;
        border-color: config('colors.blue');
    }
    &:disabled {
        @apply pointer-events-none opacity-50;
        background-color: config('colors.grey-lighter');
    }
    &.error {
        // background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nNDEnIGhlaWdodD0nMjYnIHZpZXdCb3g9JzAgMCA0MSAyNicgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBmaWxsPScjNjA2MDYwJyBkPSdNMCA1LjM4MmwxOS45ODMgMTkuOTgzTDQwLjE0IDUuMjA4IDM0LjkzMiAwIDE5Ljg2OSAxNS4wNjIgNC44NC4wMzJ6JyBmaWxsLXJ1bGU9J2V2ZW5vZGQnLz48L3N2Zz4=);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='41' height='26' viewBox='0 0 41 26'%3E%3Cpath fill='%23606060' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd' style='&%2310; fill: %23e3342f;&%2310;'/%3E%3C/svg%3E");
        background-position: right .4rem center;
        background-repeat: no-repeat;
        background-size: .75rem;
        border-color: config('colors.red');
        &:focus {
            box-shadow: 0 0 0 3px rgba(227, 52, 47, 0.5);
        }
    }
}
